{% block body %}
{% include "inheritance.html" %}
    <style>
        h3 {color:#fff;}
        button {color: #fff;}
    </style>
    <div class= "container">
        <div class= "row">
            <div class= "col">
                <h3>UPLOAD A VIDEO</h3>
                <hr>
                <div>
                </div>
                {% from "includes/_formhelpers.html" import render_field %}
                <form action = "/upload-video" method= "POST" enctype= "multipart/form-data">
                    <dl class= "text-white">
                    {{ render_field(form.video_title, class= "form-control") }}
                     <div class="form-group">
                        <label>Select video</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="video" id="video">
                            <label class="custom-file-label" for="video">Select video...</label>
                        </div>
                    </div>

                    <button type= "sumbit" class= "btn btn-outline-light">Upload the video</button>

                </form>

            </div>
        </div>
    </div>
{% endblock body %}