<html>
   <head>
      <title>CoN</title>
      <style>
      hr{ height: 1px; background-color: #ccc; border: none;}
      div.form-label-example {  color: #fff;}
      div.form-field-example {  color: #fff;}
      </style>
      <script src="https://cdn.ckeditor.com/4.17.1/standard/ckeditor.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   </head>

   <body text= "#FFFFF"style="background-color:black;">
      {% include "includes/navbar.html" %}
      <br><br><br>
      <div class= "container", style="text-color:white;">
         <h3 class= "text-light">POST</h3>
         <hr>
               {% from "includes/_formhelpers.html" import render_field %}
         <form method=post>
            <dl class= "text-white">
            {{ render_field(form.post_title, class= "form-control") }}
            {{ render_field(form.post_content, class= "form-control") }}
            <a style="float:right" class= "btn btn-primary" href= "/account">Back</a>
            <button style="float:right" class= "btn btn-primary">Post</button>
         </form>
      </div>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script>
         CKEDITOR.replace('post_content');
      </script>
   </body>
</html>